@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Josefin+Sans&family=Skranji:wght@700&display=swap');
*{
    box-sizing: border-box;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }

.title{
    /* border: rgba(0, 0, 0, 0) solid 1px; */
    height: 200px;
    background-image: url(./images/backgr.jpeg);
    background-repeat: no-repeat;
    background-size: 100% 300px;
    clear: both;
    line-height: 0%;
    position: relative;
    
    
    
    
}
.title h4{
    color: white;
    font-size: 60px;
    font-family: 'Skranji', cursive;
    /* text-align: center; */
    margin-left: 25px;
    margin-top: 100px;
    text-shadow: 3px 3px black;
    position:absolute

    /* float:inline-start; */
}
.find h6{  
    margin-top: 50px;
    font-size: larger;
    font-family: 'Josefin Sans', sans-serif;
    color: yellow; 
}

button{
    background-color: rgb(248, 5, 248);
    color: yellow;
    width: 100px;
    height: 30px;
    left: 50%;
    border-radius: 100px;
    bottom: 5px;
    position:absolute;
    margin: -50px 0 0 -50px;
    
}

.col img:hover{
    transform:scale(1.1)
}

.col img{
    width: 100%;
    height: 200px;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: .5s ease-in-out;
}

.main{
    background-image: linear-gradient(to right, red , yellow); 
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
    
}
.col{
    width: 25%;
    float: left;
    padding: 10px;
    position: relative;
}
.col:hover{
    border: 1px solid black;
}
h2{
    text-align: center;
    margin-bottom: 35px;
   
}
p{
    padding: 15px;
    margin-top: -30px;
}
@media only screen and (max-width: 900px) {
    .col{
        width: 33%;
    }
    .title h4{
        font-size: 50px;
    }
    .title h6{
        font-size: large;
    }
    
    
    
}

@media only screen and (max-width: 700px) {
    .col{
        width: 50%;
    }
    .title h4{
        font-size: 40px;
    }
    .title h6{
        font-size: medium;
    }
   
    
    
    
}

@media only screen and (max-width: 500px) {
    .col{
        width: 100%;
    }
    .title h4{
        font-size: 30px;
    }
    .title h6{
        font-size: small;
    }
    
    
}

.topnav{
    float: left;
    margin-top: 187px;
    margin-left: 25px;
    position:absolute
}

a{
    text-decoration: none;
    color: white;
    border-right: 2px solid red;
    border-left: 2px solid red;
    /* border: 2px solid red; */
    padding: 5px;
    font-size: 15px;
    
}
.find{
    float: right;
    margin-right: 25px;

}
.search{
    margin-left: 5px;
    width: 125px;
}
.title h3{
    color: rgba(255, 255, 255, 0.534);
    margin-left: 25px;
    margin-top: 25px;
    position: absolute;
    font-family: 'Dancing Script', cursive;
    font-size: 15px;
    animation: anim 2s ease-in-out 2s infinite;
}


.title h3:hover{
    animation-play-state: paused;
}

@keyframes anim{
    0%{
        color: red
    }
    50%{
        color: rgba(255, 0, 0, 0)
    }
    100%{
        color: red
    }
}
body{
    margin: 0px;
    padding: 0px;
}




